@charset "UTF-8";
/*初期設定
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
body {
	font-family: Yu Gothic;
	font-size: 1em;
	margin:0;
	padding:0;
}

.image-vw {
  width : 100vw ;
}


div.main {
	float: left;
	margin-left: 300px;
	margin-top: 30px;
}

div.calculator {
    position: absolute;
	margin-left: 900px;
	margin-top: 30px;
	margin-bottom: 50px;
}

/* ページの枠組み
---------------------------------------------------- */
#page {
  margin: 0 auto;
  width: 800px;
}

/*メインコンテンツ
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
.main {
	position: absolute;
	margin-left: 30px;
}

h2 {
	width: 500px;
	height: 33px;
	text-indent: 0.5em;
	font-weight: bold;
	color : white;
	background-color : #f20c90;
}

/*合計金額*/
.total {
	width : 250px;
	height : 40px;
    margin: 0 0 30px 250px;
    text-align: center;
    font-size: 30px;
    font-weight: nomal;
    border: solid 1px #808080;
}


/*受取金額*/
.put{
	width : 250px;
	height : 40px;
	margin-left : 250px;
	text-align: center;
    font-size: 30px;
}


/*差額*/
p.difference{
	width : 250px;
	height : 40px;
    margin: 0 0 30px 250px;
    text-align: center;
    font-size: 30px;
    font-weight: nomal;
    border: solid 1px #808080;
}

/*電卓*/
table {
	/*おそらくwidthを％表示にしていることから横に並ばないと考えられる
	widthを包括ブロックに関係ない指定方法にすれば一時的に解決できるが、
	この方法は表示する端末に依らず大きさが一定になるので注意が必要。
	具体的にどうするかは考え中。
	*/
	width: 330px;
	height: 450px;
	border-collapse: collapse;
	table-layout: fixed;
	border-spacing: 0;

	margin-left: auto;
	margin-right: auto;
}


table th, table td {
	padding: 10px;
	text-align: center;
}

.upside {
	font-weight: bold;
	background-color: #808080;
	color: #ffffff;
	border: 3px solid #ffffff;
}

table tr td:nth-of-type(4) {
	font-weight: bold;
	background-color: #808080;
	color: white;
	border: 3px solid #ffffff;
}

.push{
	width: 110%;
	height: 110%;
	border-radius: 10px;
	font-size: 30px;
}


/*ボタン*/
.next {
	/*float: right;*/
	position: absolute;
	left: 390px;
	display: inline-block;
	border-radius: 20%; /* 角丸       */
	font-size: 10pt; /* 文字サイズ */
	text-align: center; /* 文字位置   */
	cursor: pointer; /* カーソル   */
	padding: 15px 27px; /* 余白       */
	background: #f20c90; /* 背景色     */
	color: #ffffff; /* 文字色     */
	line-height: 1em; /* 1行の高さ  */
	transition: .3s; /* なめらか変化 */
	border: 2px solid #f20c90; /* 枠の指定 */
}

.next:hover {
	color: #f20c90; /* 背景色     */
	background: #ffffff; /* 文字色     */
}

.back {
	display: inline-block;
	border-radius: 20%; /* 角丸       */
	font-size: 10pt; /* 文字サイズ */
	text-align: center; /* 文字位置   */
	cursor: pointer; /* カーソル   */
	padding: 15px 27px; /* 余白       */
	background: #07219b; /* 背景色     */
	color: #ffffff; /* 文字色     */
	line-height: 1em; /* 1行の高さ  */
	transition: .3s; /* なめらか変化 */
	border: 2px solid #07219b; /* 枠の指定 */
}

.back:hover {
	color: #07219b; /* 背景色     */
	background: #ffffff; /* 文字色     */
}